.about-div-all {
    margin-top: 20px;
    border-radius: 10px;
}

.about-h3-title {
    margin: 40px 0px 40px;
    text-align: center;
}

.article-about {
    width: 80%;
    padding: 10px 10px 10px 10px;
    /* display: flex; */
}

.about-div-text {
    padding: 0px 10px 10px 0px;
    text-align: justify;
    margin: auto;
}

.img-about-firts {
    width: 400px;
    height: 450px;
}

.div-video {
    text-align: center;
}

.about-video {
    margin: 5px 5px 5px 5px;
}

.div-about-videos {
    
}