.about-div-all {
    margin-top: 20px;
    border-radius: 10px;
}

.about-h3-title {
    margin: 40px 0px 40px;
    text-align: center;
}

.article-about {
    padding: 10px 10px 10px 10px;
    display: flex;
}

.about-div-text {
    padding: 20px 20px 20px 20px;
    text-align: justify;
    margin: auto;
}

.img-about-firts {
    width: 400px;
    height: 450px;
}

.about-video {
    width: 300;
    height: 450px;
}

